html {
overflow-x: hidden;
}

.contact {font-family: calibri light; font-size: 18; color:#007EB6; position: absolute; left:120px; top: 0.1%;}
ul#contact li {
    display: inline;
    width: 100px;
    height: 30px;
    padding: 8px;
    margin: 2px;
    float: left;
}
.linea {height: 1px; width: 100%; position: absolute;top:9%; background-color: #DCDCDC;}
.drop-menu {position: absolute; left: 43%; top: 5vh;}

body{
	font-size:18px;
	color:white;
	font-family:calibri;
  text-align: left;
}

/*container*/
#drop-menu {
	margin: 0 auto;
	padding: 0;
	width: 700px;
}

/*menu*/

ul#menu {
	margin:55px 0 0;
	padding: 0;
	list-style: none;
	float:left;
	width: 960px;
	background-color:white;
	font-size:18px;
  color:black
}

ul#menu li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	position: relative;
}

ul#menu li a {
	float: left;
	padding:10px 30px;
	color:black;
	text-transform: uppercase;
	text-decoration:none;
}

ul#menu li a:hover {
	background: white;
	color:#DCDCDC
}

ul#menu ul {
	margin:2px 0 0;
	padding:0;
	display:inline-block;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 38px;
	left: 0;
	z-index:9999;
	background: white;
  color: white;
}

ul#menu li:hover ul {
	opacity: 1;
	visibility: visible;
}

ul#menu ul li {
	float: left;
	display: block;
	border: 0;
}

ul#menu ul a {
	padding:10px;
	width: 135px;
	display: block;
	white-space: nowrap;
	float: left;
	text-transform: none;
  font-size: 16.5px;
  color: #696969;
}

ul#menu ul a:hover {
	background-color: #0186ba;
	color:white
}
.Logo {height:8%; position:absolute; left:170px; top:11% }


.foto-grande {
	position: absolute;
	top:22%;
	left: 50%;
	width: 78%;;
	height: 100%;
  transform: translate(-50%);

	}


.rettangolo {background-color: #007EB6; height: 300px; width: 100vw;position: absolute;left: 0px; top: 110%;}
.titoli {font-family: calibri;font-weight: bold;font-size: 25px; color:white;align-content: center;}
.testo_home {font-family: calibri light; font-size: 15px; color:white; line-height: 25px; text-align: justify;
}
.sx {position: absolute; top: 7%; left:12%; width: 22%;}
.c {position: absolute; top: 7%; left: 50%; width: 22%;transform: translate(-50%);}
.dx {position: absolute; top: 7%; right:13%; width: 22%;}

.immagine {width: 25%; height: 30%}
.alto {position: absolute;top: 157%}
.sin {position: absolute;left: 13%;}
.cen {position: absolute;left: 50%; transform: translate(-50%);}
.des{position: absolute; right: 13%}
.centro{position: absolute; top:187% }
.basso {position: absolute; top: 217%}

.linea_blu {height: 5px; width:100vw; background-color:#007EB6; position: absolute; top:252%}
.linea_blu_alta {height: 5px; width:100vw; background-color:#007EB6; position: absolute; top:66%}

.testo_home_basso {position: absolute;top:250%;width:1200px; transform: translate(-50%,0);left:50%;}
.titolone{color:#007EB6; font-family:calibri; font-weight: bold; font-size:40px;text-align: center;}
.sottotitolone {color:#aaa; font-family: calibri; font-size: 22px; text-align:center;transform: translate(0,-130%);}


.img {width: 17%;height: 34%; position:absolute;top: 273%}
.img0 {width: 17%;height: 34%; position:absolute;top: 75%}
.img1 {width: 17%;height: 34%; position:absolute;top: 130%}
.left_1{position: absolute;left: 11%}
.left_2{position: absolute;left:31.5%}
.right_1{position: absolute;right:31.5%}
.right_2{position: absolute;right:11%}

.tit {font-size:22px; color:#007EB6;font-family: calibri}
.text {top: 310%; font-family: calibri light; font-size:15px;width:17%; text-align: justify; line-height:23px; color:#aaa}
.text0 {top: 113%; font-family: calibri light; font-size:15px;width:17%; text-align: justify; line-height:23px; color:#aaa}
.text1 {top: 167%; font-family: calibri light; font-size:15px;width:17%; text-align: justify; line-height:23px; color:#aaa}
.FINESTRE{position: absolute;left: 11%; }
.P_INTERNE {position: absolute;left:31.5%}
.P_ESTERNE {position: absolute;right: 31.5%}
.ALTRI {position: absolute;right:11%}
.button {font-family: calibri;position: absolute;top:170px;font-weight: bold; color: black;text-decoration: none;}
a {text-decoration: none; color: black}
a:hover {color: #aaa}


.rettangolo_2 {position:absolute; top: 348%;background-color: #aaa;width: 100%;height:200px}
.promozioni{ position: absolute; top:2%; font-family: calibri;color: white; left:11%;font-size:21px;width:46%; line-height:22px;text-align:justify}
.big {font-size:35px;font-weight: bold;transform: translate(0,+70%);}
.butt {background-color: #DCDCDC;font-family: calibri;color:white;line-height:20px; width:170px;text-align: center;font-size:18px}
.uno{position: absolute; right:11%; top:15%}
.due {position: absolute; right:11%; top:55%}


.rettangolo_3 {position: absolute; top:379%; background-color:#007EB6; width: 100%; height: 200px}
.ti_segue {position: absolute; left:50%;font-family: calibri; color: white; font-size: 21px;text-align: center; width: 100%; transform: translate(-50%);}


.rettangolo_4 {position: absolute;top:409%;background-color:#DCDCDC; width: 100%; height:300px}
.rettangolo_5 {position: absolute;top:550px;background-color:#DCDCDC; width: 100%; height:300px}
.sic {position: absolute; font-family: calibri light; font-size: 15px; color: #696969; left: 170px; top: 30px;
   width:210px;text-align: justify; line-height:25px}
.titolini {font-size: 20px; color:black; text-align: left;font-weight: bold; line-height: 40px}
.pag{position: absolute; top:30px;left:50%; transform: translate(-50%);font-family: calibri light;
  font-size: 15px;width:260px;text-align: justify; line-height:25px; color: #696969}
.ag {position: absolute; top:30px;right:170px;font-family: calibri light;
  font-size: 15px;width:260px;text-align: justify; line-height:25px ; color: #696969}

.contatti_bassi {position: absolute; top:453%; background-color:#696969; height:15%; width: 100%;
  font-size: 15px; color: white;font-family: calibri light}
.nome {position: absolute;left: 10%; top: 10%; font-weight:bold; font-size: 20px}
.indirizzo {position: absolute;text-align: left; left: 50%; transform: translate(-50%); top:10%}
.tel {position: absolute;right: 10%; top:10%}
.mail {position: absolute;right:10%; top:40%}
.contatti_bassi2 {position: absolute; top:260%; background-color:#696969; height:15%; width: 100%;
    font-size: 15px; color: white;font-family: calibri light}
.contatti_bassi3 {position: absolute; top:355%; background-color:#696969; height:15%; width: 100%;
    font-size: 15px; color: white;font-family: calibri light}
.contatti_bassi4 {position: absolute; top:185%; background-color:#696969; height:15%; width: 100%;
      font-size: 15px; color: white;font-family: calibri light}
.contatti_bassi5 {position: absolute; top:120%; background-color:#696969; height:15%; width: 100%;
            font-size: 15px; color: white;font-family: calibri light}
.contatti_bassi6 {position: absolute; bottom:0%; background-color:#696969; height:15%; width: 100%;
                        font-size: 15px; color: white;font-family: calibri light}
.contatti_bassi7 {position: absolute; top:190%; background-color:#696969; height:15%; width: 100%;
                                                font-size: 15px; color: white;font-family: calibri light}


.rett_grigio{background-color: #DCDCDC; position: absolute; top:22%;width: 100%; height:110px;}
.titolo_alto {font-family: calibri; font-size: 35px; color: white; position: absolute; left:11%;top: 1px}
.testo {font-family: calibri light; color: black; position:absolute;width:33%; top: 42%; text-align: justify;left: 11%; line-height: 26px; page-break-inside: auto;}
.sottotitolo {font-size: 22px; color:#007EB6; font-weight: bold;font-family: calibri}
.imm_dx {position: absolute;right:11%; width: 40%; height: auto; top:45%}
b {font-family:calibri;color: #696969; font-weight: bold;}
.rett_nero {background-color:black; position: absolute; top:120%;width: 100vw; height:130px;}
.tit_nero {font-family: calibri; font-size: 35px; color: #696969; position: absolute; left:50%; top: -5px;text-align: center;transform: translate(-50%);width: 100vw}
.sott_nero {font-size: 22px; color:#696969; font-family: calibri; text-align: center;top: 60px; position: absolute; left:50%; transform: translate(-50%);}
.testo_2 {font-family: calibri light; color: black; position:absolute;width:80%; top: 140%; text-align: justify;left: 11%; line-height: 26px;}
.banner {position: absolute;left: 50%; transform: translate(-50%);top: 103%; width:100%}
.testo_3 {font-family: calibri light; color: black; position:absolute;width:80%; top: 47%; text-align: justify;left: 11%; line-height: 20px;font-size:17px;}
.persona {font-size:20px; color:#007EB6;font-family: calibri; text-align: left;}
.testo_5 {font-family: calibri light; color: black; position:absolute;width:37%; top: 50%; text-align: justify;left: 11%; line-height: 20px;font-size:17px;}
.testo_6 {font-family: calibri light; color: black; position:absolute;width:37%; top: 50%; text-align: justify;right: 11%; line-height: 20px;font-size:17px;}
.testo_7 {font-family: calibri light; color: black; position:absolute;width:37%; top: 90%; text-align: justify;left:  11%; line-height: 20px;font-size:17px;}
.testo_8 {font-family: calibri light; color: black; position:absolute;width:37%; top:90%; text-align: justify;right:11%; line-height: 20px;font-size:17px;}




/* Slideshow container */
.slideshow-container {
  width: 900px;
  position: absolute;
  margin: auto;
  left: 50%;
  transform: translate(-50%);
  top:78%;
}

/* Hide the images by default */
.mySlides {
    display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-family: calibri;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
