

.contact {font-family: calibri light; font-size: 18; color:#007EB6; position: absolute; left:120px; top: 0.1%;}
ul#contact li {
    display: inline;
    width: 100px;
    height: 30px;
    padding: 8px;
    margin: 2px;
    float: left;
}
.linea {height: 1px; width: 100%; position: absolute;top:7%; background-color: #DCDCDC;}
.drop-menu {position: absolute; left: 43%; top: 5vh;}

body{
	font-size:18px;
	color:white;
	font-family:calibri;
  text-align: left;
}

/*container*/
#drop-menu {
	margin: 0 auto;
	padding: 0;
	width: 700px;
}

/*menu*/

ul#menu {
	margin:55px 0 0;
	padding: 0;
	list-style: none;
	float:left;
	width: 960px;
	background-color:white;
	font-size:18px;
  color:black
}

ul#menu li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	position: relative;
}

ul#menu li a {
	float: left;
	padding:10px 30px;
	color:black;
	text-transform: uppercase;
	text-decoration:none;
}

ul#menu li a:hover {
	background: white;
	color:#DCDCDC
}

ul#menu ul {
	margin:2px 0 0;
	padding:0;
	display:inline-block;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 38px;
	left: 0;
	z-index:9999;
	background: white;
  color: white;
}

ul#menu li:hover ul {
	opacity: 1;
	visibility: visible;
}

ul#menu ul li {
	float: left;
	display: block;
	border: 0;
}

ul#menu ul a {
	padding:10px;
	width: 135px;
	display: block;
	white-space: nowrap;
	float: left;
	text-transform: none;
  font-size: 16.5px;
  color: #696969;
}

ul#menu ul a:hover {
	background-color: #0186ba;
	color:white
}
.Logo {height:8%; position:absolute; left:170px; top:11% }


.foto-grande {
	position: absolute;
	top:22%;
	left: 50%;
	width: 78%;;
	height: 100%;
  transform: translate(-50%);

	}


.rettangolo {background-color: #007EB6; height: 300px; width: 100vw;position: absolute;left: 0px; top: 110%;}
.titoli {font-family: calibri;font-weight: bold;font-size: 25px; color:white;align-content: center;}
.testo_home {font-family: calibri light; font-size: 15px; color:white; line-height: 25px; text-align: justify;
}
.sx {position: absolute; top: 7%; left:12%; width: 350px;}
.c {position: absolute; top: 7%; left: 50%; width: 350px;transform: translate(-50%);}
.dx {position: absolute; top: 7%; right:13%; width: 350px;}

.immagine {width: 25%; height: 30%}
.alto {position: absolute;top: 149%}
.sin {position: absolute;left: 13%;}
.cen {position: absolute;left: 50%; transform: translate(-50%);}
.des{position: absolute; right: 13%}
.centro{position: absolute; top:179% }
.basso {position: absolute; top: 209%}

.linea_blu {height: 5px; width:100vw; background-color:#007EB6; position: absolute; top:246%}
.linea_blu_alta {height: 5px; width:100vw; background-color:#007EB6; position: absolute; top:500px}

.testo_home_basso {position: absolute;top:250%;width:1200px; transform: translate(-50%,0);left:50%;}
.titolone{color:#007EB6; font-family:calibri; font-weight: bold; font-size:40px;text-align: center;}
.sottotitolone {color:#aaa; font-family: calibri; font-size: 22px; text-align:center;transform: translate(0,-130%);}


.img {width: 17%;height: 34%; position:absolute;top: 273%}
.img0 {width: 17%;height: 34%; position:absolute;top: 75%}
.img1 {width: 17%;height: 34%; position:absolute;top: 1000px}
.left_1{position: absolute;left: 11%}
.left_2{position: absolute;left:31.5%}
.right_1{position: absolute;right:31.5%}
.right_2{position: absolute;right:11%}

.tit {font-size:22px; color:#007EB6;font-family: calibri}
.text {top: 310%; font-family: calibri light; font-size:15px;width:17%; text-align: justify; line-height:23px; color:#aaa}
.text0 {top: 113%; font-family: calibri light; font-size:15px;width:17%; text-align: justify; line-height:23px; color:#aaa}
.text1 {top: 1300px; font-family: calibri light; font-size:15px;width:17%; text-align: justify; line-height:23px; color:#aaa}
.FINESTRE{position: absolute;left: 170px; }
.P_INTERNE {position: absolute;left:475px}
.P_ESTERNE {position: absolute;right: 475px}
.ALTRI {position: absolute;right: 170px}
.button {font-family: calibri;position: absolute;top:170px;font-weight: bold; color: black;text-decoration: none;}
a {text-decoration: none; color: black}
a:hover {color: #aaa}


.rettangolo_2 {position:absolute; top: 350%;background-color: #aaa;width: 100%;height:200px}
.promozioni{ position: absolute; top:2%; font-family: calibri;color: white; left:11%;font-size:21px;width:46%; line-height:22px;text-align:justify}
.big {font-size:35px;font-weight: bold;transform: translate(0,+70%);}
.butt {background-color: #DCDCDC;font-family: calibri;color:white;line-height:20px; width:170px;text-align: center;font-size:18px}
.uno{position: absolute; right:11%; top:15%}
.due {position: absolute; right:11%; top:55%}


.rettangolo_3 {position: absolute; top:376%; background-color:#007EB6; width: 100%; height: 200px}
.ti_segue {position: absolute; left:50%;font-family: calibri; color: white; font-size: 21px;text-align: center; width: 100%; transform: translate(-50%);}


.rettangolo_4 {position: absolute;top:402%;background-color:#DCDCDC; width: 100%; height:300px}
.rettangolo_5 {position: absolute;top:550px;background-color:#DCDCDC; width: 100%; height:300px}
.sic {position: absolute; font-family: calibri light; font-size: 15px; color: #696969; left: 170px; top: 30px;
   width:210px;text-align: justify; line-height:25px}
.titolini {font-size: 20px; color:black; text-align: left;font-weight: bold; line-height: 40px}
.pag{position: absolute; top:30px;left:50%; transform: translate(-50%);font-family: calibri light;
  font-size: 15px;width:260px;text-align: justify; line-height:25px; color: #696969}
.ag {position: absolute; top:30px;right:170px;font-family: calibri light;
  font-size: 15px;width:260px;text-align: justify; line-height:25px ; color: #696969}

.contatti_bassi {position: absolute; top:440%; background-color:#696969; height:130px; width: 100%;
  font-size: 15px; color: white;font-family: calibri light}
.nome {position: absolute;left: 10%; top: 20%; font-weight:bold; font-size: 20px}
.indirizzo {position: absolute;text-align: left; left: 50%; transform: translate(-50%); top:20%}
.tel {position: absolute;right: 10%; top:20%}
.mail {position: absolute;right:10%; top:50%}
.contatti_bassi2 {position: absolute; top:1890px; background-color:#696969; height:130px; width: 100%;
    font-size: 15px; color: white;font-family: calibri light}
.contatti_bassi3 {position: absolute; top:2250px; background-color:#696969; height:130px; width: 100%;
    font-size: 15px; color: white;font-family: calibri light}
.contatti_bassi4 {position: absolute; top:1150px; background-color:#696969; height:130px; width: 100%;
      font-size: 15px; color: white;font-family: calibri light}
.contatti_bassi5 {position: absolute; top:850px; background-color:#696969; height:130px; width: 100%;
            font-size: 15px; color: white;font-family: calibri light}
.contatti_bassi6 {position: absolute; top:630px; background-color:#696969; height:130px; width: 100%;
                        font-size: 15px; color: white;font-family: calibri light}
.contatti_bassi7 {position: absolute; top:1430px; background-color:#696969; height:130px; width: 100%;
                                                font-size: 15px; color: white;font-family: calibri light}


.rett_grigio{background-color: #DCDCDC; position: absolute; top:180px;width: 100%; height:110px;}
.titolo_alto {font-family: calibri; font-size: 35px; color: white; position: absolute; left:170px;top: 1px}
.testo {font-family: calibri light; color: black; position:absolute;width:450px; top: 330px; text-align: justify;left: 170px; line-height: 26px; page-break-inside: auto;}
.sottotitolo {font-size: 22px; color:#007EB6; font-weight: bold;font-family: calibri}
.imm_dx {position: absolute;right:180px; width: 40%; height: auto; top:350px}
b {font-family:calibri;color: #696969; font-weight: bold;}
.rett_nero {background-color:black; position: absolute; top:880px;width: 100vw; height:130px;}
.tit_nero {font-family: calibri; font-size: 35px; color: #696969; position: absolute; left:50%; top: -5px;text-align: center;transform: translate(-50%);width: 100vw}
.sott_nero {font-size: 22px; color:#696969; font-family: calibri; text-align: center;top: 60px; position: absolute; left:50%; transform: translate(-50%);}
.testo_2 {font-family: calibri light; color: black; position:absolute;width:80%; top: 1050px; text-align: justify;left: 170px; line-height: 26px;}
.banner {position: absolute;left: 50%; transform: translate(-50%);top: 500px; width:110%}
.testo_3 {font-family: calibri light; color: black; position:absolute;width:80%; top: 350px; text-align: justify;left: 170px; line-height: 20px;font-size:17px;}
.persona {font-size:20px; color:#007EB6;font-family: calibri; text-align: left;}
.testo_5 {font-family: calibri light; color: black; position:absolute;width:550px; top: 350px; text-align: justify;left: 170px; line-height: 20px;font-size:17px;}
.testo_6 {font-family: calibri light; color: black; position:absolute;width:550px; top: 350px; text-align: justify;right: 170px; line-height: 20px;font-size:17px;}
.testo_7 {font-family: calibri light; color: black; position:absolute;width:550px; top: 650px; text-align: justify;left:  170px; line-height: 20px;font-size:17px;}
.testo_8 {font-family: calibri light; color: black; position:absolute;width:550px; top:650px; text-align: justify;right: 170px; line-height: 20px;font-size:17px;}



.slide_show {    width: 900px;
    position: absolute;
    margin: auto;
    top: 600px;
    left: 50%;
  transform: translate(-50%);}
