.contact {font-family: calibri light; font-size: 10; color:#007EB6; position: absolute; left:8.5%; top: 0.1%;}
ul#contact li {
    display: inline;
    width: 100px;
    height: 30px;
    padding: 8px;
    margin: 2px;
    float: left;
}
.linea {height: 1px; width: 100%; position: absolute;top:7%; background-color: #DCDCDC;}
.drop-menu {position: absolute; right: 5.5vw; top: 5vh;}

body{
	font-size:18px;
	color:white;
	font-family:calibri;
  text-align: left;
}

/*container*/
#drop-menu {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}

/*menu*/

ul#menu {
	margin:60px 0 0;
	padding: 0;
	list-style: none;
	float:left;
	width: 960px;
	background-color:white;
	font-size:18px;
  color:black
}

ul#menu li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	position: relative;
}

ul#menu li a {
	float: left;
	padding:12px 30px;
	color:black;
	text-transform: uppercase;
	text-decoration:none;
}

ul#menu li a:hover {
	background: white;
	color:#DCDCDC
}

ul#menu ul {
	margin:2px 0 0;
	padding:0;
	display:inline-block;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 38px;
	left: 0;
	z-index:9999;
	background: white;
  color: white;
}

ul#menu li:hover ul {
	opacity: 1;
	visibility: visible;
}

ul#menu ul li {
	float: none;
	display: block;
	border: 0;
}

ul#menu ul a {
	padding:10px;
	width: 135px;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
  font-size: 16.5px;
  color: #696969;
}

ul#menu ul a:hover {
	background-color: #0186ba;
	color:white
}
.Logo {height:8%; position:absolute; left:11.8%; top:11% }


.foto-grande {
	position: absolute;
	top:175px;
	left: 50%;
	width: 78%;;
	height: 100%;
  transform: translate(-50%);

	}


.rettangolo {background-color: #007EB6; height: 300px; width: 100vw;position: absolute;left: 0px; top: 110%;}
.titoli {font-family: calibri;font-weight: bold;font-size: 25px; color:white;align-content: center;}
.testo_home {font-family: calibri light; font-size: 15px; color:white; line-height: 25px; text-align: justify;
}
.sx {position: absolute; top: 7%; left:12%; width: 350px;}
.c {position: absolute; top: 7%; left: 50%; width: 350px;transform: translate(-50%);}
.dx {position: absolute; top: 7%; right:13%; width: 350px;}

.immagine {width: 25%; height: 30%}
.alto {position: absolute;top: 1147px}
.sin {position: absolute;left: 170px;}
.cen {position: absolute;left: 50%; transform: translate(-50%);}
.des{position: absolute; right: 170px}
.centro{position: absolute; top:1378px }
.basso {position: absolute; top: 1609px}

.linea_blu {height: 5px; width:100vw; background-color:#007EB6; position: absolute; top:1885px}

.testo_home_basso {position: absolute;top:1920px;width:3000px; transform: translate(-50vw,0);}
.titolone{color:#007EB6; font-family:calibri; font-weight: bold; font-size:40px;text-align: center;}
.sottotitolone {color:#aaa; font-family: calibri; font-size: 22px; text-align:center;transform: translate(0,-130%);}


.img {width: 17%;height: 34%; position:absolute;top: 2110px}
.left_1{position: absolute;left: 170px}
.left_2{position: absolute;left:475px}
.right_1{position: absolute;right:475px}
.right_2{position: absolute;right:170px}

.tit {font-size:22px; color:#007EB6;font-family: calibri}
.text {top: 2400px; font-family: calibri light; font-size:15px;width:17%; text-align: justify; line-height:23px; color:#aaa}
.FINESTRE{position: absolute;left: 170px; }
.P_INTERNE {position: absolute;left:475px}
.P_ESTERNE {position: absolute;right: 475px}
.ALTRI {position: absolute;right: 170px}
.button {font-family: calibri;position: absolute;top:170px;font-weight: bold; color: black}


.rettangolo_2 {position:absolute; top: 2690px;background-color: #aaa;width: 100vw;height:200px}
.promozioni{ position: absolute; top:10px; font-family: calibri;color: white; left:170px;font-size:21px;width:46%; line-height:22px;text-align:justify}
.big {font-size:35px;font-weight: bold;transform: translate(0,+70%);}
.butt {background-color: #DCDCDC;font-family: calibri;color:white;line-height:20px; width:170px;text-align: center;font-size:18px}
.uno{position: absolute; right:170px; top:30px}
.due {position: absolute; right:170px; top:110px}


.rettangolo_3 {position: absolute; top:2890px; background-color:#007EB6; width: 100vw; height: 200px}
.ti_segue {position: absolute; left:50%;font-family: calibri; color: white; font-size: 21px;text-align: center; width: 100%; transform: translate(-50%);}


.rettangolo_4 {position: absolute;top:3090px;background-color:#DCDCDC; width: 100%; height:300px}
.sic {position: absolute; font-family: calibri light; font-size: 15px; color: #696969; left: 170px; top: 30px;
   width:210px;text-align: justify; line-height:25px}
.titolini {font-size: 20px; color:black; text-align: left;font-weight: bold; line-height: 40px}
.pag{position: absolute; top:30px;left:50%; transform: translate(-50%);font-family: calibri light;
  font-size: 15px;width:260px;text-align: justify; line-height:25px; color: #696969}
.ag {position: absolute; top:30px;right:170px;font-family: calibri light;
  font-size: 15px;width:260px;text-align: justify; line-height:25px ; color: #696969}

.contatti_bassi {position: absolute; top:3390px; background-color:#696969; height:130px; width: 100%;
  font-size: 15px; color: white;font-family: calibri light}
.nome {position: absolute;left: 170px; top: 20%; font-weight:bold; font-size: 20px}
.indirizzo {position: absolute;text-align: left; left: 50%; transform: translate(-50%); top:20%}
.tel {position: absolute;right: 170px; top:20%}
.mail {position: absolute;right:170px; top:50%}
.contatti_bassi_2 {position: absolute; top:890px; background-color:#696969; height:130px; width: 100%; left: 0;
  font-size: 15px; color: white;font-family: calibri light}



.rett_grigio{background-color: #DCDCDC; position: absolute; top:180px;width: 100vw; height:110px;}
.titolo_alto {font-family: calibri; font-size: 35px; color: white; position: absolute; left:170px;top: 1px}
.testo {font-family: calibri light; color: black; position:absolute;width:450px; top: 330px; text-align: justify;left: 170px; line-height: 26px; page-break-inside: auto;}
.sottotitolo {font-size: 22px; color:#007EB6; font-weight: bold;font-family: calibri}
.imm_dx {position: absolute;right:180px; width: 40%; height: auto; top:350px}
b {font-family: calibri bold;color: #696969}
.rett_nero {background-color:black; position: absolute; top:880px;width: 100vw; height:130px;}
.tit_nero {font-family: calibri; font-size: 35px; color: #696969; position: absolute; left:50%; top: -5px;text-align: center;transform: translate(-50%);width: 100vw}
.sott_nero {font-size: 22px; color:#696969; font-family: calibri; text-align: center;top: 60px; position: absolute; left:50%; transform: translate(-50%);}
.testo_2 {font-family: calibri light; color: black; position:absolute;width:1200px; top: 1050px; text-align: justify;left: 170px; line-height: 26px; page-break-inside: auto;}
.banner {position: absolute;left: 50%; transform: translate(-50%);top: 500px}
